{
	"$schema": "https://json.schemastore.org/swcrc",
	"module": {
		"type": "commonjs"
	},
	"jsc": {
		"externalHelpers": false,
		"parser": {
			"syntax": "typescript"
		},
		"target": "esnext",
		"minify": {
			"compress": true,
			"mangle": true
		},
		"baseUrl": "src",
		"paths": {
			"~/*": [
				"*"
			]
		},
		"transform": {
			"react": {
				"useBuiltins": true
			}
		}
	}
}